name: Build jOSClock Universal

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Amazon Corretto 8
        uses: actions/setup-java@v5
        with:
          java-version: 8
          # temurin: macOS [x64 + arm64] = Could not find satisfied version for SemVer '8'.
          # zulu: OK
          # liberica: OK
          # microsoft: build-java = Could not find satisfied version for SemVer '8'.
          # corretto: OK
          # semeru: macOS [x64 + arm64] = Could not find satisfied version for SemVer '8'.
          # oracle: build-java = Oracle JDK is only supported for JDK 17 and later
          # dragonwell: macOS [x64 + arm64] = Couldn't find any satisfied version for the specified java-version: "8" and architecture: "arm64".
          # sapmachine: build-java = Couldn't find any satisfied version for the specified java-version: "8" and architecture: "x64".
          # graalvm: build-java = GraalVM is only supported for JDK 17 and later
          # jetbrains: build-java = Could not find satisfied version for SemVer '8'.
          distribution: corretto

      - name: Compile Java and generate JNI headers
        run: |
          mkdir -p build
          javac -g:none -h build -d build -encoding utf8 -extdirs "" -source 1.3 -target 1.2 -bootclasspath lib/jdk-1_2_2_017-rt.jar src/uc/j/*.java

      - name: Upload Java classes and headers
        uses: actions/upload-artifact@v5
        with:
          name: java-build
          path: |
            build/uc/j/*.class
            build/*.h

  build-native:
    needs: build-java
    strategy:
      fail-fast: false
      matrix:
        include:
          # Ubuntu 24.04.3 LTS [x64]
          - os: ubuntu-latest
            osname: linux
            arch: x64
            gcc: gcc
            soext: so
          - os: ubuntu-latest
            osname: linux
            arch: x86
            gcc: "gcc -m32"
            soext: so
          - os: ubuntu-latest
            osname: linux
            arch: arm
            gcc: arm-linux-gnueabihf-gcc
            soext: so
          - os: ubuntu-latest
            osname: linux
            arch: arm64
            gcc: aarch64-linux-gnu-gcc
            soext: so
          # Windows Server 2025 (10.0.26100 Build 7171) [x64]
          - os: windows-latest
            osname: windows
            arch: x64
            vcvars: x64
            winsdk: 10.0.22621.0
            soext: dll
          - os: windows-latest
            osname: windows
            arch: x86
            vcvars: x86
            winsdk: 10.0.22621.0
            soext: dll
          - os: windows-latest
            osname: windows
            arch: arm
            vcvars: x64_arm
            winsdk: 10.0.22621.0
            soext: dll
          - os: windows-latest
            osname: windows
            arch: arm64
            vcvars: x64_arm64
            winsdk: 10.0.22621.0
            soext: dll
          # macOS 15.7.2 (24G325) [arm64]
          - os: macos-latest
            osname: macos
            arch: x64
            clang_arch: x86_64
            soext: dylib
          - os: macos-latest
            osname: macos
            arch: arm64
            clang_arch: arm64
            soext: dylib

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - name: Set up Amazon Corretto 8
        uses: actions/setup-java@v5
        with:
          java-version: 8
          distribution: corretto

      - name: Download Java classes and headers
        uses: actions/download-artifact@v5
        with:
          name: java-build
          path: build

      - name: Install cross compilers
        if: runner.os == 'Linux'
        run: |
          sudo dpkg --add-architecture i386
          sudo apt update
          sudo apt upgrade -y
          sudo apt install -y gcc-multilib g++-multilib
          sudo apt install -y gcc-arm-linux-gnueabihf gcc-aarch64-linux-gnu

      - name: Prepare output directories
        shell: bash
        run: |
          mkdir -p build/uc/j
          mkdir -p build/uc/j/native/${{ matrix.osname }}-${{ matrix.arch }}

      # LINUX BUILD
      - name: Build native library
        if: runner.os == 'Linux'
        run: |
          ${{ matrix.gcc }} -shared -O3 -Wl,-s -fno-math-errno -fno-trapping-math -fno-signed-zeros -fno-rounding-math -fno-signaling-nans -ffinite-math-only -fexcess-precision=fast \
            -flto -fomit-frame-pointer -fPIC -o build/uc/j/native/${{ matrix.osname }}-${{ matrix.arch }}/jOSClock.${{ matrix.soext }} \
            -I"${JAVA_HOME}/include" -I"${JAVA_HOME}/include/linux" -I"build" uc_j_osclock.c || \
            echo "Build fail or skip for ${{ matrix.osname }} ${{ matrix.arch }}"

      # WINDOWS BUILD
      - name: Find MSVC location
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          $VSPATH = & 'C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe' -products * -latest -property installationPath
          ECHO "VSINSTALL=$VSPATH" | Out-File -Append -Encoding utf8 $env:GITHUB_ENV

      - name: Install Windows SDK 10.0.22621.0
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe" modify ^
          --installPath "%VSINSTALL%" ^
          --add Microsoft.VisualStudio.Component.Windows11SDK.22621 ^
          --quiet --norestart --force || ^
          ECHO "Install Windows SDK 10.0.22621.0 failed!"

      - name: Build native library
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          DEL /f /q jOSClock.exp jOSClock.lib uc_j_osclock.obj >nul 2>nul
          CALL "%VSINSTALL%\VC\Auxiliary\Build\vcvarsall.bat" ${{ matrix.vcvars }} ${{ matrix.winsdk }}
          CL /LD /O2 /GL /Oi /Ot /Oy /GS- /Gy /GA /Gw /DNDEBUG /fp:fast ^
          /I"%JAVA_HOME%\include" /I"%JAVA_HOME%\include\win32" /I"build" uc_j_osclock.c /Fe:build\uc\j\native\${{ matrix.osname }}-${{ matrix.arch }}\jOSClock.${{ matrix.soext }} ^
          /link /LTCG /OPT:REF /OPT:ICF /INCREMENTAL:NO /RELEASE || ^
          ECHO "Build fail or skip for ${{ matrix.osname }} ${{ matrix.arch }}"

      # MACOS BUILD
      - name: Build native library
        if: runner.os == 'macOS'
        run: |
          clang -arch ${{ matrix.clang_arch }} -dynamiclib -O3 -Wl,-S -Wl,-x \
            -fno-math-errno -fno-trapping-math -fno-signed-zeros -fno-rounding-math -fno-signaling-nans -ffinite-math-only -fexcess-precision=fast \
            -flto -fomit-frame-pointer -o build/uc/j/native/${{ matrix.osname }}-${{ matrix.arch }}/jOSClock.${{ matrix.soext }} \
            -I"${JAVA_HOME}/include" -I"${JAVA_HOME}/include/darwin" -I"build" uc_j_osclock.c || \
            echo "Build fail or skip for ${{ matrix.osname }} ${{ matrix.arch }}"

      - name: Upload native artifact
        uses: actions/upload-artifact@v5
        with:
          name: artifact-${{ matrix.osname }}-${{ matrix.arch }}
          path: |
            build/uc/j/*.class
            build/uc/j/native/${{ matrix.osname }}-${{ matrix.arch }}/*
          if-no-files-found: ignore

  # ANDROID BUILD (32-BIT)
  build-android-32bit:
    needs: build-java
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Amazon Corretto 8
        uses: actions/setup-java@v5
        with:
          java-version: 8
          distribution: corretto

      - name: Update dependencies
        run: |
          sudo apt update
          sudo apt upgrade -y

      - name: Install Android NDK
        run: |
          cd $HOME
          wget -q https://dl.google.com/android/repository/android-ndk-r10e-linux-x86_64.zip
          unzip -q -o android-ndk-r10e-linux-x86_64.zip
          echo "ANDROID_NDK_HOME=$HOME/android-ndk-r10e" >> $GITHUB_ENV

      - name: Download Java classes and headers
        uses: actions/download-artifact@v5
        with:
          name: java-build
          path: build

      - name: Build JNI libraries for Android
        run: |
          mkdir -p build/uc/j
          abis="armeabi armeabi-v7a x86"
          for abi in $abis; do
            mkdir -p build/uc/j/native/android-$abi
            case $abi in
              armeabi)
                toolchain="arm-linux-androideabi"
                api_level="3"
                sysroot_arch="arm"
                gcc="arm-linux-androideabi-gcc"
                cflags="-march=armv5te -mtune=xscale -msoft-float"
              ;;
              armeabi-v7a)
                toolchain="arm-linux-androideabi"
                api_level="3"
                sysroot_arch="arm"
                gcc="arm-linux-androideabi-gcc"
                cflags="-march=armv7-a -mfloat-abi=softfp -mfpu=vfpv3-d16"
              ;;
              x86)
                toolchain=$abi
                api_level="9"
                sysroot_arch="x86"
                gcc="i686-linux-android-gcc"
                cflags=""
              ;;
            esac
            TOOLCHAIN_PATH="${ANDROID_NDK_HOME}/toolchains/$toolchain-4.9/prebuilt/linux-x86_64"
            SYSROOT="${ANDROID_NDK_HOME}/platforms/android-$api_level/arch-$sysroot_arch"
            "${TOOLCHAIN_PATH}/bin/$gcc" --sysroot="$SYSROOT" -D__ANDROID_API__=$api_level $cflags -shared -O3 \
              -fno-math-errno -fno-trapping-math -fno-signed-zeros -fno-rounding-math -fno-signaling-nans -ffinite-math-only -fexcess-precision=fast \
              -flto -fomit-frame-pointer -fPIC -Wl,-strip-all -o build/uc/j/native/android-$abi/jOSClock.so \
              -I"${JAVA_HOME}/include" -I"${JAVA_HOME}/include/linux" -I"$SYSROOT/usr/include" -I"build" uc_j_osclock.c || \
              echo "Build fail or skip for android-$abi"
          done

      - name: Upload Android artifacts
        uses: actions/upload-artifact@v5
        with:
          name: artifact-android-32bit
          path: |
            build/uc/j/*.class
            build/uc/j/native/android-*/jOSClock.so
          if-no-files-found: ignore

  # ANDROID BUILD (64-BIT)
  build-android-64bit:
    needs: build-java
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Amazon Corretto 8
        uses: actions/setup-java@v5
        with:
          java-version: 8
          distribution: corretto

      - name: Update dependencies
        run: |
          sudo apt update
          sudo apt upgrade -y

      - name: Download Java classes and headers
        uses: actions/download-artifact@v5
        with:
          name: java-build
          path: build

      - name: Build JNI libraries for Android
        run: |
          abis="arm64-v8a x86_64"
          for abi in $abis; do
            mkdir -p build/uc/j/native/android-$abi
            case $abi in
              arm64-v8a)
                gcc="aarch64"
              ;;
              x86_64)
                gcc=$abi
              ;;
            esac
            "$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/$gcc-linux-android21-clang" -shared -O3 \
              -fno-math-errno -fno-trapping-math -fno-signed-zeros -fno-rounding-math -fno-signaling-nans -ffinite-math-only -fexcess-precision=fast \
              -flto -fomit-frame-pointer -fPIC -Wl,-strip-all -o build/uc/j/native/android-$abi/jOSClock.so \
              -I"${JAVA_HOME}/include" -I"${JAVA_HOME}/include/linux" -I"$ANDROID_NDK_HOME/sysroot/usr/include" -I"build" uc_j_osclock.c || \
              echo "Build fail or skip for android-$abi"
          done

      - name: Upload Android artifact
        uses: actions/upload-artifact@v5
        with:
          name: artifact-android-64bit
          path: |
            build/uc/j/*.class
            build/uc/j/native/android-*/jOSClock.so
          if-no-files-found: ignore

  combine-universal-jar:
    needs: [build-native, build-android-32bit, build-android-64bit]
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v5
        with:
          path: extracted

      - name: Prepare content for JAR (merge)
        run: |
          mkdir -p all/uc/j/native
          find extracted -name '*.class' -path '*/uc/j/*.class' -exec cp -u -t all/uc/j/ {} +
          find extracted -type f \( -name "*.so" -o -name "*.dll" -o -name "*.dylib" \) -path '*/native/*' | while read -r libfile; do
              osarch=$(basename $(dirname "$libfile"))
              mkdir -p "all/uc/j/native/$osarch"
              cp -v "$libfile" "all/uc/j/native/$osarch/"
          done

      - name: Create universal JAR
        run: |
          cd all
          jar cf ../osclock-universal.jar uc/

      - uses: actions/upload-artifact@v5
        with:
          name: osclock-universal
          path: osclock-universal.jar

      - name: Clean up intermediate artifacts
        uses: geekyeggo/delete-artifact@v5
        with:
          name: |
            java-build
            artifact-*
          failOnError: false